<main-head></main-head>
<section class="home-page-widgets">
  <h1>Select your skill level</h1>
  <h2>Our program is designed to help you grow no matter what your skill level</h2>
  <h2>select which level best describes you to get started!</h2>
  <div class="widget-container">
    <div>
      <h2>Courses</h2>
      <p>I use Excel more than 50% of the time at work but I don’t know much about Excel and have trouble understanding formulas.  I need to attend a fundamental course that can help me understand easily and how to use it more efficiently.</p>
      <button>Get started!</button>
    </div>
    <div>
      <h2>Consulting</h2>
      <p>I am not new to Excel and have attended Excel courses, but I can’t apply it to my work problems.  It would be good if someone can go to my workplace to teach me how to solve my exact problem.</p>
      <button>Get started!</button>
    </div>
    <div>
      <h2>Mentoring</h2>
      <p>I have Excel problems at work and I don’t need to learn how to solve an Excel problem.  I just want an expert to help me get it solved.</p>
      <button>Get started!</button>
    </div>
  </div>
</section>
