<main-head></main-head>
<section class="home-page-widgets">
  <h1>Select your skill level</h1>
  <h2>Our program is designed to help you grow no matter what your skill level</h2>
  <h2>select which level best describes you to get started!</h2>
  <div class="widget-container">
    <div>
      <h2>Courses</h2>
      <p>I use Excel more than 50% of the time at work but I don’t know much about Excel and have trouble understanding formulas.  I need to attend a fundamental course that can help me understand easily and how to use it more efficiently.</p>
      <button>Get started!</button>
    </div>
    <div>
      <h2>Consulting</h2>
      <p>I am not new to Excel and have attended Excel courses, but I can’t apply it to my work problems.  It would be good if someone can go to my workplace to teach me how to solve my exact problem.</p>
      <button>Get started!</button>
    </div>
    <div>
      <h2>Mentoring</h2>
      <p>I have Excel problems at work and I don’t need to learn how to solve an Excel problem.  I just want an expert to help me get it solved.</p>
      <button>Get started!</button>
    </div>
  </div>
</section>
<!-- early birs special -->
<section class="home-page-widgets early-bird bg-img">
  <h1>Claim your early bird special</h1>
  <h2>We offer discounts for those who think ahead, purchase a course that is </h2>
  <div class="timer-container">
    <p>Act fast to get our</p>
    <h2>Early bird deal</h2>
    <h2 id="early-bird-counter">{{earlyBirdTimerM}}:{{earlyBirdTimerZ}}{{earlyBirdTimerS}}</h2>
  </div>
  <div class="early-bird-cta">Sign up now!</div>
</section>

<section class="home-page-about">
  <p>Why choose</p>
  <h1>Excel Infinity?</h1>
  <div class="home-why-choose">
    <div class="why-choose-widgets">
      <div id="icon-experiance" ></div>
      <div id="icon-group" class="bg-img"></div>
      <div id="icon-money" class="bg-img"></div>
    </div>
    <div class="why-choose-content">
      <h2>Experiance matters</h2>
      <p>Lucas ipsum dolor sit amet jade kessel c-3po darth hutt sidious yavin kamino jade yoda. Organa antilles yavin dantooine. Yavin grievous skywalker k-3po sith. Gamorrean grievous ackbar</p>
      <span>learn more</span>
      <h2>Group Discounts</h2>
      <p>Lucas ipsum dolor sit amet jade kessel c-3po darth hutt sidious yavin kamino jade yoda. Organa antilles yavin dantooine. Yavin grievous skywalker k-3po sith. Gamorrean grievous ackbar</p>
      <span>learn more</span>
      <h2>Subsidies</h2>
      <p>Lucas ipsum dolor sit amet jade kessel c-3po darth hutt sidious yavin kamino jade yoda. Organa antilles yavin dantooine. Yavin grievous skywalker k-3po sith. Gamorrean grievous ackbar</p>
      <span>learn more</span>
    </div>
  </div>
</section>
