

<section class="main-body-section">
  <div class="workstation-secton">
<iframe src="http://guyroutledge.github.io/box-model/" width="100%" height="100%"  frameborder="0" id="feed-embed-stand-alone" scrolling="auto" allowfullscreen></iframe>
  </div>

  <div class="resources-secton">
    <h3>Resources</h3>
    <ul>
      <li ui-sref="pluralsite">Build a website</li>
      <li ui-sref="wThreeSchool">W3 Schools</li>
      <li ui-sref="boxModelDemo">Box Model Demo</li>
    </ul>
  </div>
</section>
