<section class="home-screen-section">

<!-- Top welcome section -->
  <div class="welcome-section">
    <h3><show-time></show-time></h3>
    <div class="welcome-section-title">
      <h1>Welcome to Leven<h1>
        <button class="enter-button enter-button-two">Get Started</button>
  </div>
<!-- Learn more widget section -->
    <ul>
      <li class="website-widget">
        <img src="img/web-design-widget.png">
        <h2>Website Build</h2>
      </li>
      <div class="home-website-info home-info">
        Build your own website in moments with this simplle CSS and HTML5 tutorial<br>
        <a ui-sref="pluralsite"><span >Learn now</span></a>
      </div>

      <li class="css-widget">
        <img src="img/css-widget.png">
        <h2>CSS</h2>
      </li>
      <div class="home-css-info home-info">
        Practice your CSS skills and become a master of anamation<br>
        <a ui-sref="enjoyCss"><span >Learn now</span></a>
      </div>

      <li class="design-widget">
        <img src="img/design-widget.png">
        <h2>Design</h2>
      </li>
      <div class="home-design-info home-info">
        Create and edit custom images and wireframes <br>
        <a ui-sref="pixlr"><span >Learn now</span></a>
      </div>

      <li class="js-widget">
        <img src="img/js-widgets.png">
      <h2>Javascript</h2>
      </li>
      <div class="home-js-info home-info">
        Work your JS with a series of toy problems that make you think<br>
        <a ui-sref="replit"><span>Learn now</span></a>
      </div>
    </ul>

    <button class="enter-button">Get Started</button>


  </div>

</section>

<!-- Home loading section -->
<section class="loading-section">
  <div class="sk-folding-cube">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>
  <h3>Loading...</h3>
</section>
