
<section class="main-body-section">
  <div class="workstation-secton">
    <iframe frameborder="0" width="100%" height="100%" src="https://repl.it/languages/javascript?lite=true"></iframe>

  </div>

  <div class="resources-secton">
    <h3>Resources</h3>
    <ul>
      <li ui-sref="replit">Repl.it</li>
    </ul>
    <div class="resources-load-toy-problem" ng-click="randomQuestionFunction()">
      <h4> Load Toy Problem </h4>
    </div>
    <div class="toy-problem" >
      {{randomQuestion.question}}
    </div>
  </div>
</section>
