@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700');
body{
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 2.3rem;
}
h3{
  font-size: 1.7rem;
}
.nav-bar-new ul{
  width: 400px;
}
.nav-bar-new li {
  display: inline-block;
}
.nav-bar-new li div{
  display: flex;
  justify-content: center;
  align-items: center;
 background-color: #f7970f;
 padding: 5px 15px;
 border-radius: 3px;
}
.nav-bar-new img{
width: 20px;
}
.phone-header-ham img{
  width: 25px;
  height: 18px;
  /*margin-right: 30px;*/
}
.phone-header-ham {
  display: none;
}
.phone-header{
height: 50px;
width: 100%;
background-color: #e3e3e3;
}
.phone-header ul li{
  display: inline-block;
}
.phone-header ul{
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.phone-header-right li{
  letter-spacing: .1rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  margin-left: 20px;
}
.phone-header-left{
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone-header-left a{
  text-decoration: none;

}
.phone-header-left li:last-child{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.phone-header-left li:first-child{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-left: 10px;
}
.phone-header-left li{
  border: 1px solid #f7970f;
  color:white;
  background-color: rgba(	247,	151,	15, .7);
  height: 35px;
  padding: 5px 10px;
  margin: 1px;
}
.phone-header-left li:hover{
    background-color: rgba(	247,	151,	15, 1);
}
.phone-header-right{
  margin-right: 30px;
}
.phone-header-right img{
  width: 30px;
}
.workstation-secton{
  width: 79%;
  margin: 15px;
  height: 90vh;
  min-height: 350px;
  display: inline-block;
}
.resources-secton{
  background-color: #e9e9e9;
  width: 21%;
  min-height: 350px;
  display: flex;
  flex-direction: column;

}
.resources-secton ul{
  font-size: 1.2rem;
}
.resources-secton li{
  padding: 5px 12px;
  width: 100%;
  background-color: rgba(0,0,0, .1);
  margin: 2px;
}
.resources-secton li:hover{
  background-color: rgba(0,0,0, .2)
}
.resources-secton h3{
  padding: 5px;
  text-align: center;
}
.resources-secton h4{
  padding: 5px 20px;
  background-color: rgba(0,0,0, .5);
  color: white;
  border-radius: 3px;
  text-align: center;
  margin: 10px;
}
.resources-secton h4:hover{
  background-color: rgba(0,0,0, .7);
}
.resources-secton h4:active{
  background-color: rgba(0,0,0, .5);
}
.toy-problem{
  border-radius: 4px;
  margin: 20px auto;
  font-size: 1.8rem;
  background-color: rgba(0,0,0, .05);
  padding: 10px;
  width: 90%;
}
.resources-load-toy-problem{
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-body-section{
  display: flex;
  justify-content: space-between;
}
.practice-button{
  background-color: #f7970f;
  color: white;
  border-radius: 3px;
  padding: 5px 10px;
}
.practice-button:hover{
  /*opacity: 1;*/
  background-color: #f7970f;
  color: white;
}
.box-code{
  height:0px;
}
footer{
  background-color: #42444E;
  color: white;
}
footer .time{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .time h2{
  padding: 5px;
  font-size: 3rem;

}
footer .time span{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  font-size: 1rem;
  font-weight: 300;
}
footer .time span img{
  margin-left: 10px;
width: 15px;
padding-bottom: 2px;
}
.wheather{
  text-decoration: underline;
  margin: .2rem;
}
@-webkit-keyframes spinnerRotate
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}
#spin{
    -webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 12s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate;
    -moz-animation-duration: 12s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotate;
    -ms-animation-duration: 12s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}
.main-foot{
  background: black;
  height: 400px;
}
.check-your-city{
  color: black;
}
.dropdown-menu a{
  color: #f7970f;
  display: block;
}
.dropdown, .dropup {
    position: relative;
    margin-right: 10px;
}
.dropdown-menu a:hover{
  background: rgba(0,0,0, .05);
}
.dropdown-menu {
  color: #f7970f;
  text-align: center;
}
.status-ele{
  text-align: center;
  font-size: 1rem;
  margin-top: 12px;
  padding: 5px 10px;
  width: 120px;
  background-color: rgba(0,0,0, .1);
  color: rgba(0,0,0, .2);
  font-weight:700;
  border-radius: 5px;
}
.ele-shield{
  justify-content: center;
  display: flex;
}
.home-screen-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: #f7970f;
  position: absolute;
  height: 100vh;
  z-index: 2000;
  width:100%;
  top: 0;
}
.welcome-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-section h3{
    font-weight: 200;
  font-size: 1.2rem;
}
.welcome-section h1{
  margin-top: 10px;
    font-weight: 200;
  font-size: 5rem;

}
.welcome-section ul{
  display: flex;
}
.welcome-section li{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px;
  margin: 20px;
  border-radius: 5px;
}
.welcome-section li img{
  width: 150px;
}
.welcome-section-title{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.enter-button{
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 8px 15px 5px 15px;
  background-color: white;
  border: 2px solid white;
  color: #f7970f;
  border-radius: 3px;
}
.enter-button-two{
  display: none;
}
.enter-button:hover{
  color: white;
  background: #f7970f;
}
.loading-section{
  position: absolute;
  color: #f7970f;
  top: 0;
  z-index: 1999;
  height: 100vh;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-info{
  width: 200px;
  padding-top: 10px;
  margin-top: 50px;
  border-top: 2px solid white;
}
.home-info a{
  color: white;
}
.home-info span{
  font-weight: 300;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 1.2rem;
  float: right;
}
.home-info span:hover{
  opacity: .8;
}
.home-website-info{
display: none;
}
.home-css-info{
display: none;
}
.home-design-info{
display: none;
}
.home-js-info{
display: none;
}


/* Loading anamation*/
.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f7970f;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
.show-me-not{
  display: none;
}
.show-me{
  display: flex;
}
/*@ media section!!*/

@media( max-width: 700px){
  .phone-header-right{
    display: none;
  }
  .phone-header-ham {
    display: flex;
  }
  .main-body-section{
    display: flex;
    flex-direction: column-reverse;
  }
  .resources-secton{
    width: 100%;
    height: auto;
    min-height: 250px;
    display: flex;
    flex-direction: column;

  }
  .workstation-secton{
    width: 100%;
    margin: 15px;
    height: 90vh;
    min-height: 350px;
    display: inline-block;
  }
  .welcome-section h1{
    margin-top: 10px;
      font-weight: 200;
    font-size: 4rem;
  }
  .welcome-section ul{
    flex-direction: column;

  }
  .welcome-section li{
    margin: 10px;
    border: none;
    border-top: 2px solid rgba(0,0,0, .05)
  }
  /*.welcome-section li:hover{
    margin: 110px;
    border: none;
    border-top: 2px solid rgba(0,0,0, .05)
  }*/
  .welcome-section li:first-child{
    /*margin-top: 10px;*/
  }
  .home-screen-section{
    height: auto;
  }
  .enter-button{
    display: none;
  }
  .enter-button-two{
    display: flex;
  }
}
